##
## Tests
snippet dtest
    @Test
    @DisplayName("${0}")
    void test${1}() {
        //given
        ${2}
        //when
        //then
    }


##
## Class
snippet cl
	class ${1:`vim_snippets#Filename("$1", "untitled")`} ${0}
snippet pcl
	public class ${1:`vim_snippets#Filename("$1", "untitled")`} ${0}
snippet in
	interface ${1:`vim_snippets#Filename("$1", "untitled")`} ${2:extends Parent}
snippet tc
	public class ${1:`vim_snippets#Filename("$1")`} extends ${0:TestCase}
