@import "mocha.css";
* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
 /* margin: 5px 5px;*/
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#window,
#tray,
#backlight,
#clock,
#battery,
#bluetooth,
#network,
#pulseaudio,
#cpu,
#memory,
#temperature,
#custom-lock,
#custom-prs,
#custom-pomodoro,

#foo {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}


#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#bluetooth {
  color: @rosewater;
  margin-left: 1rem;
  border-radius: 1rem 0px 0px 1rem;
}

#custom-prs {
  color: @red;
}

#custom-pomodoro {
  color: @red;
}

#pulseaudio {
  color: @maroon;
}

#network {
  color: @flamingo;
}
#cpu {
  color: @pink;
}
#memory {
  color: @pink;
}
#temperature {
  color: @pink;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

/*#bluetooth, #pulseaudio, #network, #cpu, #memory, #temperature, #clock {}*/

#window {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}


#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#battery {
  color: @green;
}

/*#custom-power {
    margin-right: 1rem;
    border-radius: 1rem;
    color: @red;
}*/
